@font-face {
  font-family: 'AppleMyungjo';
  src: url('../assets/fonts/AppleMyungjo.ttf') format('truetype');
}

@font-face {
  font-family: 'QuattroSans';
  src: url('../assets/fonts/QuattrocentoSans-Regular.ttf') format('truetype');
}

html,
body,
#_bibimbap {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 20px;
  line-height: 1.7rem;
  letter-spacing: -0.04em;
  font-family: 'AppleMyungjo';
}

html img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

p {
  white-space: pre;
  margin: 0;
}

button {
  color: hsla(0, 0%, 0%, 0.9);
}

.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-b-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  word-wrap: break-word;
  color: hsla(0, 0%, 0%, 0.9);
  background-color: rgba(226, 202, 136, 0.1);
}

#_bibimbap {
  opacity: 1;
  overflow-x: hidden;
}

:root {
  --key-color-rgb: 74, 111, 132;

  --key-color: rgba(var(--key-color-rgb));
  --key-color-100: rgba(var(--key-color-rgb), 0.1);
  --key-color-200: rgba(var(--key-color-rgb), 0.2);
  --key-color-300: rgba(var(--key-color-rgb), 0.3);
  --key-color-400: rgba(var(--key-color-rgb), 0.4);
  --key-color-500: rgba(var(--key-color-rgb), 0.5);
  --key-color-naver: #03c75a;
  --key-color-kakao: #fee500;

  --text-S: 0.75rem;
  --text-M: 1rem;
  --text-L: 1.25rem;
  --text-XL: 2rem;
  --text-XXL: 3rem;

  --width-M: 2rem;
  --width-L: 4rem;

  --border-S: 1px solid grey;
  --border-M: 1.5px solid black;
  --border-L: 2px solid black;

  --green: #a9eea2;
  --orange: #ffbc76;
}

.expandable {
  font-family: 'QuattroSans';
  overflow: hidden;
  color: #000;
  line-height: 50px;

  transition: all 0.5s ease-in-out;
  height: 0;
}

#active {
  height: 17rem;
}

/**
* media 
*/
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/**
* mobile Responsive
*/
@media screen and (max-width: 480px) {
  :root {
    font-size: 16px;
  }
}

/** 
* keyframes
*/

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearNdisappear {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
